@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  .full-logo {
    width: 268px;
    height: 33px;
  }

  nav {
    ul {
      display: flex;
      gap: 1.5rem;
      font-size: 16px;
      font-weight: 400;

      li {
        list-style: none;
        a {
          color: #337ab7;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
        }
        #Career,
        #Departments {
          color: #ababab;
        }
        #About,
        #Career:hover,
        #Departments:hover {
          color: #00b39b;
          text-decoration: none;
        }
      }
    }
  }
}

.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8rem;

  #logo {
    width: 40px;
    height: 40px;
  }

  &__desc {
    color: #00b39b;
    font-size: 3.29rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
  }

  &__parags {
    color: #747474;
    font-size: 16px;
    display: flex;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    width: 100%;

    &--first {
      padding-right: 30px;
    }
  }
}

.section-two {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1.375em 1.25em 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 3.75rem auto 2.5rem;
  color: #fff;
  font-family: Work Sans, Arial, sans-serif;
  max-width: 1015px;
  padding: 0 20px;
  position: relative;
  img {
    width: 25px;
    height: auto;
  }
  &__card1 {
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
    select {
      background-color: #00ccb1;
      border: none;
      text-decoration: underline;
      margin-bottom: 30px;
    }
  }
  &__card2 {
    background-color: #3d83df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
    select {
      background-color: #3d83df;
      border: none;
      text-decoration: underline;
      margin-bottom: 30px;
    }
  }
  &__card3 {
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
    select {
      background-color: #1b2734;
      border: none;
      text-decoration: underline;
      margin-bottom: 30px;
    }
  }
  #section-two__card1--title,
  #section-two__card2--title,
  #section-two__card3--title {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Work Sans, Arial, sans-serif;
  }
}

.section-three {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  div {
    width: 60%;
    display: flex;
  }
  &__desc {
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
  }
  &__logos {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    img {
      width: 7.5rem;
      object-fit: contain;
    }
  }
}

.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  background-color: #d0faf4;
  padding-left: 50px;
  &__left {
    font-family: Work Sans, Arial, sans-serif;
    padding-top: 60px;
    h2 {
      color: #00b39b;
      font-weight: 300;
      letter-spacing: -0.3px;
      padding-left: 50px;
    }
    p {
      padding-left: 50px;
      padding-top: 20px;
      font-size: 15px;
      color: #747474;
      padding-bottom: 50px;
    }
  }
  &__right {
    display: flex;
    margin-right: 50px;
    height: 100%;
    justify-content: space-around;
    margin-left: 100px;

    div {
      height: 500px;
      width: 250px;
    }

    h3 {
      font-size: 1.8461538462em;
      color: #00b39b;
      font-family: Work Sans, Arial, sans-serif;
      font-weight: 300;
      letter-spacing: -0.3px;
    }

    p {
      font-size: 0.8125em;
      font-weight: 400;
      font-family: Roboto, Arial, sans-serif;
      color: #747474;
    }

    &__first-column {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-right: 20px;
      #leader {
        margin-bottom: 20px;
      }
    }
    &__second-column {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      #appointments {
        margin-bottom: 20px;
      }
    }
  }

  #leader,
  #patients,
  #appointments,
  #doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
  }

  #leader img,
  #patients img,
  #appointments img,
  #doctors img {
    width: 25px;
    height: auto;
  }
}

.section-five {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  width: 100%;

  h3 {
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
  }
  p {
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
  }
}

// .section-six {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 0.5cm;
//   justify-content: center;
//   div {
//     border-radius: 3%;
//     margin: 0.44%;
//   }
//   .buttons {
//     display: flex;
//     justify-content: space-between;

//     button {
//       margin-top: 0.5cm;
//       background: #3d83df;
//       color: #fff;
//       letter-spacing: 0.04em;
//       border: 0;
//       border-radius: 4px;
//       font-size: 1rem;
//       margin-right: 20px;
//       padding-right: 10px;
//       padding-left: 10px;
//     }
//   }

//   .country {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     padding-top: 100px;
//     padding-bottom: 100px;
//     padding-left: 150px;
//     padding-right: 150px;
//   }

//   p {
//     font-size: medium;
//     color: #747474;
//     font-family: Roboto, Arial, sans-serif;
//     padding-top: 20px;
//     padding-left: 20px;
//   }
// }

.section-six {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5cm;
  justify-content: center;
  div {
    border-radius: 3%;
    margin: 0.44%;
  }
  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      margin-top: 0.5cm;
      display: flex;
      gap: 2cm;
      justify-content: center;
      background: #3d83df;
      line-height: 1em;
      color: #fff;
      font-weight: 800;
      letter-spacing: 0.04em;
      text-align: center;
      outline: 0;
      border: 0;
      border-radius: 4px;
      font-size: 1rem;
      font-family: Roboto, Arial, sans-serif;
      margin-right: 20px;
      align-items: center;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .country {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3cm;
    padding-top: 100px;
    padding-bottom: 100px;

    div:hover {
      box-shadow: 0 -6px 10px 5px rgb(0 0 0 / 10%);
    }
  }

  p {
    font-size: medium;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
  }
}

.section-seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
  }
  button {
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
  }
}

footer {
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
  padding-left: 100px;
  padding-right: 100px;

  p {
    padding-top: 20px;
  }
}
