// Root setting
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// color variables
$colors: (
  primary: #005dff,
  body: #d7d7d7,
  secondary: #fff6bb,
);

body,
html {
  height: 100%;
}

// body styling
body {
  font-family: "roboto";
  background-color: #b4ccdd;

  .wrapper {
    height: 100%;
    margin-bottom: 50px;
    &__background {
      background: #091c40;
      //   background-color: #000;
      clip-path: polygon(52% 0, 100% 0%, 100% 100%, 41% 100%);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    header {
      display: flex;
      justify-content: space-between;
      // height: 20%;
      padding: 5%;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;

      nav {
        width: 47%;

        .header_links {
          display: flex;
          width: 100%;
          justify-content: space-between;

          li {
            list-style: none;
          }

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    &__intro {
      display: flex;
      justify-content: space-between;
      padding: 20px 5%;
      //   margin-top: 10%;

      &__desc {
        // padding: 20px 5%;
        // margin-top: 10%;
        //   width: 40%;
        //   background: rgb(167, 203, 203);
        //   background: teal;
        // height: 50%;
        //   height: auto;
        p {
          // text-align: center;
          font-weight: 700;
        }
        &--greet {
          font-size: 35px;
          .wave {
            font-size: 70px;
          }
        }
        &--name {
          font-size: 59px;
          margin: 54px 0 15px;
          width: 448px;
        }
        &--title {
          color: #909090;
          font-size: 25px;
          font-weight: 800;
        }
      }

      img {
        height: 501px;
        width: 100%;
        object-fit: cover;
        margin-top: -93px;
      }
    }
  }

  .main {
    iframe {
      width: 100%;
      height: 500px;
    }
  }

  section {
    margin-top: 40px;
    font-size: 20px;
    line-height: 46px;
    margin-top: 5%;
    padding: 0 5%;
    h2 {
      text-align: center;
    }
    button {
      padding: 17px;
      font-size: 20px;
      border-radius: 15px;
    }
    img {
      display: block;
      margin: auto;
      height: 400px;
      width: 513px;
    }
  }
}

//animation for the wave class
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// style the footer
footer {
  font-size: 24px;
  text-align: center;
}
